.asset-armor-placeholder{background-image: url(/asset/svg/armor/cat_hermine.svg);}
.asset-armor-0 {background-image: url(/asset/svg/armor/0.svg);}
.asset-armor-1 {background-image: url(/asset/svg/armor/1.svg);}
.asset-armor-variation-0 {background-position: 0 0;}
.asset-armor-variation-1 {background-position: 100% 0;}
