.asset-character-icon-0{background-image: url(/asset/svg/icon/cat.svg);}
.asset-character-portrait-0{background-image: url(/asset/svg/portrait/cat.svg);}

.asset-character-icon-1{background-image: url(/asset/svg/icon/orange_cat.svg);}
.asset-character-portrait-1{background-image: url(/asset/svg/portrait/orange_cat.svg);}

.asset-character-icon-2{background-image: url(/asset/svg/icon/grey_cat.svg);}
.asset-character-portrait-2{background-image: url(/asset/svg/portrait/grey_cat.svg);}

.asset-character-icon-3{background-image: url(/asset/svg/icon/cat.svg);}
.asset-character-portrait-3{background-image: url(/asset/svg/portrait/cat.svg);}

.asset-character-icon-4{background-image: url(/asset/svg/icon/orange_cat.svg);}
.asset-character-portrait-4{background-image: url(/asset/svg/portrait/orange_cat.svg);}

.asset-character-icon-5{background-image: url(/asset/svg/icon/grey_cat.svg);}
.asset-character-portrait-5{background-image: url(/asset/svg/portrait/grey_cat.svg);}

.asset-character-icon-6{background-image: url(/asset/svg/icon/cat.svg);}
.asset-character-portrait-6{background-image: url(/asset/svg/portrait/cat.svg);}

.asset-character-icon-7{background-image: url(/asset/svg/icon/orange_cat.svg);}
.asset-character-portrait-7{background-image: url(/asset/svg/portrait/orange_cat.svg);}

.asset-character-icon-8{background-image: url(/asset/svg/icon/grey_cat.svg);}
.asset-character-portrait-8{background-image: url(/asset/svg/portrait/grey_cat.svg);}

.asset-character-icon-9{background-image: url(/asset/svg/icon/cat.svg);}
.asset-character-portrait-9{background-image: url(/asset/svg/portrait/cat.svg);}

.asset-character-icon-10{background-image: url(/asset/svg/icon/orange_cat.svg);}
.asset-character-portrait-10{background-image: url(/asset/svg/portrait/orange_cat.svg);}

.asset-character-icon-11{background-image: url(/asset/svg/icon/grey_cat.svg);}
.asset-character-portrait-11{background-image: url(/asset/svg/portrait/grey_cat.svg);}

.asset-character-icon-12{background-image: url(/asset/svg/icon/cat.svg);}
.asset-character-portrait-12{background-image: url(/asset/svg/portrait/cat.svg);}

.asset-character-icon-13{background-image: url(/asset/svg/icon/orange_cat.svg);}
.asset-character-portrait-13{background-image: url(/asset/svg/portrait/orange_cat.svg);}

.asset-character-icon-14{background-image: url(/asset/svg/icon/grey_cat.svg);}
.asset-character-portrait-14{background-image: url(/asset/svg/portrait/grey_cat.svg);}

.asset-character-icon-15{background-image: url(/asset/svg/icon/cat.svg);}
.asset-character-portrait-15{background-image: url(/asset/svg/portrait/cat.svg);}

