.asset-character-icon-0 {background-color: Aqua;}
.asset-character-icon-1 {background-color: Aquamarine;}
.asset-character-icon-2 {background-color: Purple;}
.asset-character-icon-3 {background-color: RebeccaPurple;}
