.asset-character-icon-cat{background-image: url(/asset/svg/icon/cat.svg);}
.asset-character-portrait-cat{background-image: url(/asset/svg/portrait/cat.svg);}
.asset-character-icon-orange_cat{background-image: url(/asset/svg/icon/orange_cat.svg);}
.asset-character-portrait-orange_cat{background-image: url(/asset/svg/portrait/orange_cat.svg);}
.asset-character-icon-grey_cat{background-image: url(/asset/svg/icon/grey_cat.svg);}
.asset-character-portrait-grey_cat{background-image: url(/asset/svg/portrait/grey_cat.svg);}
.asset-character-icon-hermine{background-image: url(/asset/svg/icon/hermine.svg);}
.asset-character-portrait-hermine{background-image: url(/asset/svg/portrait/hermine.svg);}
.asset-character-icon-crow{background-image: url(/asset/svg/icon/crow.svg);}
.asset-character-portrait-crow{background-image: url(/asset/svg/portrait/crow.svg);}

.asset-character-icon-0{background-image: url(/asset/svg/icon/cat.svg);}
.asset-character-portrait-0{background-image: url(/asset/svg/portrait/cat.svg);}

.asset-character-icon-1{background-image: url(/asset/svg/icon/orange_cat.svg);}
.asset-character-portrait-1{background-image: url(/asset/svg/portrait/orange_cat.svg);}

.asset-character-icon-2{background-image: url(/asset/svg/icon/grey_cat.svg);}
.asset-character-portrait-2{background-image: url(/asset/svg/portrait/grey_cat.svg);}

.asset-character-icon-3{background-image: url(/asset/svg/icon/cat.svg);}
.asset-character-portrait-3{background-image: url(/asset/svg/portrait/cat.svg);}

.asset-character-icon-4{background-image: url(/asset/svg/icon/crow.svg);}
.asset-character-portrait-4{background-image: url(/asset/svg/portrait/crow.svg);}

.asset-character-icon-5{background-image: url(/asset/svg/icon/hermine.svg);}
.asset-character-portrait-5{background-image: url(/asset/svg/portrait/hermine.svg);}

.asset-character-icon-6{background-image: url(/asset/svg/icon/cat.svg);}
.asset-character-portrait-6{background-image: url(/asset/svg/portrait/cat.svg);}

.asset-character-icon-7{background-image: url(/asset/svg/icon/orange_cat.svg);}
.asset-character-portrait-7{background-image: url(/asset/svg/portrait/orange_cat.svg);}

.asset-character-icon-8{background-image: url(/asset/svg/icon/grey_cat.svg);}
.asset-character-portrait-8{background-image: url(/asset/svg/portrait/grey_cat.svg);}

.asset-character-icon-9{background-image: url(/asset/svg/icon/cat.svg);}
.asset-character-portrait-9{background-image: url(/asset/svg/portrait/cat.svg);}

.asset-character-icon-10{background-image: url(/asset/svg/icon/orange_cat.svg);}
.asset-character-portrait-10{background-image: url(/asset/svg/portrait/orange_cat.svg);}

.asset-character-icon-11{background-image: url(/asset/svg/icon/crow.svg);}
.asset-character-portrait-11{background-image: url(/asset/svg/portrait/crow.svg);}

.asset-character-icon-12{background-image: url(/asset/svg/icon/hermine.svg);}
.asset-character-portrait-12{background-image: url(/asset/svg/portrait/hermine.svg);}

.asset-character-icon-13{background-image: url(/asset/svg/icon/orange_cat.svg);}
.asset-character-portrait-13{background-image: url(/asset/svg/portrait/orange_cat.svg);}

.asset-character-icon-14{background-image: url(/asset/svg/icon/grey_cat.svg);}
.asset-character-portrait-14{background-image: url(/asset/svg/portrait/grey_cat.svg);}

.asset-character-icon-15{background-image: url(/asset/svg/icon/cat.svg);}
.asset-character-portrait-15{background-image: url(/asset/svg/portrait/cat.svg);}

.asset-character-team-body-0{background-image: url(/asset/svg/icon/body_team_0.svg);}
.asset-character-team-body-1{background-image: url(/asset/svg/icon/body_team_1.svg);}
.asset-character-team-body-2{background-image: url(/asset/svg/icon/body_team_2.svg);}
.asset-character-team-body-3{background-image: url(/asset/svg/icon/body_team_3.svg);}
.asset-character-team-body-4{background-image: url(/asset/svg/icon/body_team_4.svg);}
.asset-character-team-body-5{background-image: url(/asset/svg/icon/body_team_5.svg);}
.asset-character-team-body-6{background-image: url(/asset/svg/icon/body_team_6.svg);}
.asset-character-team-body-7{background-image: url(/asset/svg/icon/body_team_7.svg);}

.asset-character-icon-commander-banner{background-image: url(/asset/svg/icon/commander_banner.svg);}
.asset-character-icon-target-banner{background-image: url(/asset/svg/icon/target_banner.svg);}
