.asset-tile-0{background-color:#0000FF
;}

.asset-tile-1{background-color:#00FFFF
;}

.asset-tile-2{background-color:#FF00FF
;}

.asset-tile-3{background-color:#FFFFFF
;}

.asset-tile-4{background-color:#00FFAA
;}

.asset-tile-5{background-color:#00AAFF
;}

.asset-tile-6{background-color:#FF00AA
;}

.asset-tile-7{background-color:#FFAA00
;}

.asset-tile-8{background-color:#FFAAAA
;}

.asset-tile-9{background-color:#AA00FF
;}

.asset-tile-10{background-color:#AAFF00
;}

.asset-tile-11{background-color:#AAFFAA
;}

.asset-tile-12{background-color:#AAAAFF
;}

.asset-tile-13{background-color:#000055
;}

.asset-tile-14{background-color:#00AA55
;}

.asset-tile-15{background-color:#0055FF
;}

