.message-board .character-card
{
   width: 16em;
}

.message-attack-text
{
   width: 100%;
   text-align: center;
   font-size: 1.2em;
}

/**** Character Portrait Animations *******************************************/
.animated-portrait-damaged .character-portrait > *
{
   animation: blinking 0.2s steps(2, start) 8;
}

.animated-portrait-absent .character-portrait > *
{
   visibility: hidden;
}

.animated-portrait-dodges .character-portrait,
.animated-portrait-dies .character-portrait,
.animated-portrait-parries .character-portrait,
.animated-portrait-attacks .character-portrait
{
   overflow: hidden;
}

.animated-portrait
{
}

.animated-portrait-dodges .character-portrait > *
{
   animation-name: dodges;
   animation-duration: 1s;
   animation-iteration-count: 1;
}

.animated-portrait-attacks .character-portrait > *
{
   animation-name: attacks;
   animation-duration: 1s;
   animation-iteration-count: 1;
}

.animated-portrait-dies .character-portrait > *
{
   animation-name: blinking2, dies;
   animation-duration: 0.15s, 2s;
   animation-delay: 0s, 1s;
   animation-iteration-count: 8, 1;
}

.animated-portrait-parries .character-portrait > *
{
   animation-name: parries;
   animation-duration: 1s;
   animation-iteration-count: 1;
}
