@import 'shared/colors';
@import 'shared/shadows';

*
{
   color: $GOLD-0;
   @include text-shadow(1px, $BROWN-0, 0.5);
}

body,
.fullscreen-module
{
   display: flex;
   flex-direction: column;
   background-color: $BROWN-2;

   align-items: center;
}

.fullscreen-module
{
   padding-bottom: 1em;
}

@import 'shared/general-header';
