@import 'shared/colors';
@import 'shared/shadows';

*
{
   color: $GOLD-0;
   @include text-shadow(1px, $BROWN-0, 0.5);
}

body
{
   background-color: $BROWN-2;
}

button
{
   flex: 1;

   text-transform: uppercase;
   background-color: $BROWN-3;
   border-color: $BROWN-1;
}

button + button
{
   margin-left: 0.5em;
}

button:hover
{
   background-color: $BROWN-4;
}

button:disabled
{
   background-color: $BROWN-0;
}


//@import 'map-editor/info-card';
@import 'map-editor/main-menu';
@import 'map-editor/map';
@import 'map-editor/message-board';
@import 'map-editor/sub-menus';
@import 'map-editor/toolbox';
