@import 'shared/colors';
@import 'shared/shadows';

*
{
   color: $GOLD-0;
   @include text-shadow(1px, $BROWN-0, 0.5);
}

body
{
   display: flex;
   flex-direction: column;
   background-color: $BROWN-2;
}

body > header,
.fullscreen-module > header
{
   display: flex;
   flex-direction: row;
}

body > header nav,
.fullscreen-module > header nav
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   flex: 1;
   align-items: center;
   justify-content: space-around;
}

body > header nav a,
.fullscreen-module > header nav a
{
   color: $GOLD-0;
   transition: background-color 0.3s ease-out;
   font-size: 1.5em;
   font-variant: small-caps;
   font-weight: bold;
   text-decoration: none;
   margin: 0.5em;
}

.main-server-logo
{
   z-index: 1;
   margin: 0.5em;
}

.main-server-version
{
   z-index: 0;
   position: absolute;
   font-size: 0.7em;
   top: 0;
   right: 0;
}

main
{
   width: 100%;
   flex: 1;

   display: flex;
   flex-direction: column;

   align-items: center;
}

article:nth-of-type(1)
{
   margin-top: 0;
}

article
{
   display: inline-block;

   background: $BROWN-4;

   margin: 1em;
   padding-bottom: 2em;

   border: 1px solid $BROWN-0;

   max-width: 80em;
   min-width: 40em;
}

article > p
{
   margin: 0 3em 0.5em 3em;
   line-height: 1.3em;
   font-size: 1.2em;
   color: $BROWN-0;
   text-shadow: none;
}

article > header
{
   display: inline-block;
   margin: -0.1em 0.5em 1em 0.5em;
   border: 2px solid $GLAUQUE-1;
   border-top-width: 1px;
   border-radius: 0 0 8px 8px;
   text-align: center;
   padding: 0.5em 1em 0.5em 1em;
   background: $GLAUQUE-2;
   color: $GLAUQUE-6;
   font-size: 1.5em;
   font-variant: small-caps;
   font-weight: bold;
}

article > h1
{
   display: inline-block;
   background: $BLUE-2;
   margin: 1em 0 1em -0.2em;
   font-size: 1.2em;
   font-variant: small-caps;
   font-weight: normal;
   border: 2px solid $BLUE-1;
   border-left-width: 1px;
   border-radius: 0 15px 15px 0;
   color: $BLUE-6;
   padding: 0.5em;
   padding-left: 1.5em;
}
