@import '../shared/battleview/constants';

$CONTROLLED-MENU-WIDTH: 15em;
$SUB-MENU-WIDTH: 20em;

$NEXT-TO-CONTROLLED-MENU: $CONTROLLED-MENU-WIDTH + $MENU-EXTRA;
$NEXT-TO-SUB-MENU: $SUB-MENU-WIDTH + $MENU-EXTRA;
