$MENU-MARGIN: 0.5em;
$MENU-PADDING: 0.5em;
$MENU-BORDER: 0.2em;

$MAIN-MENU-HEIGHT: 3em;
$MESSAGE-BOARD-HEIGHT: 10em;
$CONTROLLED-MENU-WIDTH: 15em;
$SUB-MENU-WIDTH: 20em;

$MENU-EXTRA: $MENU-MARGIN;// + $MENU-PADDING + $MENU-BORDER;

$NEXT-TO-CONTROLLED-MENU: $CONTROLLED-MENU-WIDTH + $MENU-EXTRA;
$NEXT-TO-SUB-MENU: $SUB-MENU-WIDTH + $MENU-EXTRA;
$BELOW-MAIN-MENU: $MAIN-MENU-HEIGHT + $MENU-EXTRA;
$ABOVE-MESSAGE-BOARD: $MESSAGE-BOARD-HEIGHT + $MENU-EXTRA;
