@import '../shared/battle-view/constants';
@import '../shared/battle-view/menu-mixins';

@import 'constants';

.controlled
{
   @include menu-panel();

   left: 0;
   top: $BELOW-MAIN-MENU;
   bottom: 0;

   width: $CONTROLLED-MENU-WIDTH;

   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
   border-left: none;
   border-bottom: none;

   display: flex;
   flex-flow: column;
   justify-content: space-evenly;
}

.controlled-controls
{
   display: flex;
   flex-flow: row;
}

.controlled-actions
{
   width: 50%;
   display: grid;
   grid-template-columns: 33% 33% 33%;
   grid-gap: 2px;
   justify-content: space-evenly;
}

.end-turn-button
{
   animation-name: reverse-brown-alarm-bg;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}

@import 'controlled-panel/manual-control';
@import 'controlled-panel/buttons';
