@import "../shared/colors";
@import "../shared/shadows";

.battle-info-card
{
   display: flex;
   flex-flow: column;
}

.battle-info-card-top
{
   position: relative;

   margin-top: 0.5em;
}

.battle-info-card-picture
{
   top: 0;
   left: 0;

   box-sizing: border-box;

   border-radius: 5px;
   overflow: hidden;

   margin: 0;

   @include box-shadow(2px, $BROWN-0, 1);

   display: inline-block;
}

.battle-info-card-text-field
{
   display:flex;
   justify-content:center;
   align-items:center;
   border-radius: 5px;
   background-color: $BROWN-2;
   width: 100%;
}

.battle-gauge
{
   position: relative;
   border-radius: 5px;
   border: 2px solid $BROWN-2;
   text-align: center;
   height: 2em;
}

.battle-gauge-text
{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 1;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.battle-gauge-bar
{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 0;

   border-radius: 5px;
   z-index: 0;
   transition: width 3s ease-in-out;
}

.battle-character-card-health,
.battle-tile-card-cost
{
   position: absolute;
   left: 100px;
   top: 0;
   margin-left: 0.5em;
   width: calc(100% - 100px - 0.5em);
}


.battle-character-card-movement,
.battle-tile-card-location
{
   position: absolute;
   left: 100px;
   top: calc(1.5em + 1em);
   margin-left: 0.5em;
   width: calc(100% - 100px - 0.5em);
}

@import 'info-card/character';
@import 'info-card/tile';
