@keyframes red-alarm-bg {
    0% {background-color: rgba(255,0,0,0.25);}
    25% {background-color: rgba(255,0,0,1);}
    50% {background-color: rgba(255,0,0,1);}
    100% {background-color: rgba(255,0,0,0.25);}
}

@keyframes pulsating {
    0% { opacity: 1.0; transform: scale(1);}
    25% { opacity: 1.0; transform: scale(1);}
    30% { opacity: 0.8; transform: scale(1.1);}
    50% { opacity: 1.0; transform: scale(1);}
    100% { opacity: 1.0; transform: scale(1);}
}

@keyframes strongly-pulsating {
    0% { opacity: 1.0; transform: scale(1);}
    50% { opacity: 0.8; transform: scale(1.5);}
    100% { opacity: 1.0; transform: scale(1);}
}

@keyframes brown-alarm-bg {
    0% {background-color: #917C6F;}
    25% {background-color: #AC9D93}
    50% {background-color: #AC9D93}
    100% {background-color: #917C6F;}
}

@keyframes reverse-brown-alarm-bg {
    0% {background-color: #917C6F;}
    50% {background-color: #502D16;}
    100% {background-color: #917C6F;}
}

@keyframes blue-alarm-bg {
    0% {background-color: rgba(0,0,255,0.2);}
    25% {background-color: rgba(0,0,255,0.8);}
    50% {background-color: rgba(0,0,255,0.8);}
    100% {background-color: rgba(0,0,255,0.2);}
}

@keyframes blinking {
   to { visibility: hidden; }
}

@keyframes blinking2 {
   from { opacity: 1; }
   to { opacity: 0; }
}

@keyframes dodges {
   0% { transform: translate(0, 0); }
   50% { transform: translate(-75%, 0); }
   100% { transform: translate(0, 0); }
}

@keyframes attacks {
   0% { transform: translate(0, 0); }
   25% { transform: translate(25%, 0); }
   100% { transform: translate(0, 0); }
}

@keyframes parries {
   0% { transform: translate(0, 0); }
   25% { transform: translate(-25%, 0); }
   50% { transform: translate(50%, 20%); }
   100% { transform: translate(0, 0); }
}

@keyframes dies {
   from { transform: translate(0, 0) rotate(0); }
   to { transform: translate(0, 100%) rotate(25deg); }
}

@keyframes blue-alarm-bd {
    0% {border-color: rgba(0,0,255,0.25);}
    25% {border-color: rgba(0,0,255,1);}
    100% {border-color: rgba(0,0,255,0.25);}
}
