@import '../shared/battle-view/constants';
@import '../shared/battle-view/menu-mixins';

@import 'constants';

.container-centerer
{
   position: absolute;

   top: $BELOW-MAIN-MENU;
   left: $NEXT-TO-CONTROLLED-MENU;
   right: $NEXT-TO-SUB-MENU;
   bottom: $ABOVE-MESSAGE-BOARD;

   display: flex;
}

.container
{
   display: inline-block;
   max-height: 100%;
   max-width: 100%;

   overflow: scroll;

   margin: auto;
   resize: both;

   @include menu-border();

   @include menu-background-color();
}

.actual
{
   display: inline-block;
   transform-origin: top left;

   /*** Otherwise, it won't display correctly without 'transform: scale' ***/
   position: relative;
}

.path-icon-below-markers  {z-index: 1;}
.marker-icon              {z-index: 2;}
.path-icon-above-markers  {z-index: 3;}
.character-icon           {z-index: 4;}

.marker-icon,
.character-icon,
.path-icon
{
   position: absolute;
}

@import 'map/animation.scss';
@import 'map/character.scss';
@import 'map/marker.scss';
@import 'map/path.scss';
