@import '../shared/battleview/constants';
@import '../shared/battleview/menu-mixins';

@import 'constants';

.sub-menu
{
   @include menu-panel();

   right: 0;
   top: $BELOW-MAIN-MENU;
   bottom: $ABOVE-MESSAGE-BOARD;

   width: $SUB-MENU-WIDTH;

   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   border-right: none;

   overflow: auto;
}

@import 'sub-menus/characters-tab';
@import 'sub-menus/timeline-tab';
