html
{
   min-width: 800px;
   min-height: 600px;
   height: 100%;
   background-color: #6C5D53;
   color: #FFEEAA;
}

html, body, .fullscreen-module
{
   min-width: 800px;
   min-height: 600px;
}

* {
   box-sizing: border-box;
   color: #FFEEAA;
   text-shadow:
      1px 0px 1px rgba(80, 45, 22, 0.5),
      -1px 0px 1px rgba(80, 45, 22, 0.5),
      0px 1px 1px rgba(80, 45, 22, 0.5),
      0px -1px 1px rgba(80, 45, 22, 0.5);
}

* button
{
   background-color: #917C6F;
   border-radius: 5px;
   border: 1px solid #502D16;
   border-bottom-width: 3px;
   color: #FFEEAA;
   margin: 0.1em;
   padding: 0.2em;
   transition: background-color 0.3s ease-out;
}

* button:hover
{
   cursor: pointer;
   background-color: #AC9D93;
}

* button:active
{
   background-color: #C8BEB7;
}

* button:disabled
{
   background-color: #502D16;
}

* button:disabled:hover
{
   cursor: default;
   background-color: #502D16;
}

* button:disabled:active
{
   background-color: #502D16;
}

html, body, .fullscreen-module
{
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   margin: 0;
   padding: 0;
}

.fullscreen-module
{
   display:flex;
}

.clickable
{
   cursor: pointer;
   touch-action: manipulation;
}

.popup-message
{
   display: inline-block;
   text-align: justify;
   padding: 2em 2em 1em 2em;
   margin: 1em;

   border: 1px solid #502D16;
   border-left-width: 4px;

   max-width: 80em;
   min-width: 40em;
}
