* {
  margin: 0;
  padding: 0; }

html, body, .fullscreen-module {
  min-width: 800px;
  min-height: 600px;
  background-color: #6C5D53;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

* {
  color: #FFEEAA;
  text-shadow: 1px 0 1px rgba(36, 31, 28, 0.5), -1px 0 1px rgba(36, 31, 28, 0.5), 0 1px 1px rgba(36, 31, 28, 0.5), 0 -1px 1px rgba(36, 31, 28, 0.5); }

button {
  background-color: #917C6F;
  border-radius: 5px;
  border: 1px solid #483E37;
  border-bottom-width: 3px;
  margin: 0.1em;
  padding: 0.2em;
  transition: background-color 0.3s ease-out; }

button:hover {
  cursor: pointer;
  background-color: #AC9D93; }

button:active {
  background-color: #C8BEB7; }

.clickable {
  cursor: pointer;
  touch-action: manipulation; }
