
.battle-tile-card-icon
{
   position: relative;
   width: 80px;
   height: 80px;
   display: inline-block;
}

.battle-tile-card-icon *
{
   position: absolute;

   background-size: 400%;
   width: 80px;
   height: 80px;
}

.battle-tile-card-top
{
   margin:0.3em;
}
