@import '../colors';

button
{
   /** FIXME not everywhere **/
   flex: 1;

   text-transform: uppercase;
   background-color: $BROWN-3;
   border-color: $BROWN-1;
}

/** FIXME not everywhere **/
button + button
{
   margin-left: 0.5em;
}

button.active
{
   border-bottom-width: 1px;
   filter: brightness(0.8);
}

button:hover
{
   background-color: $BROWN-4;
}

button:disabled
{
   background-color: $BROWN-0;
}
