@import '../colors';

@import 'constants';
@import 'menu-mixins';

.main-menu
{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;

   height: $MAIN-MENU-HEIGHT;

   @include menu-background-color();

   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   @include menu-border();
   border-top: none;
   border-top-left-radius: 0;
   border-top-right-radius: 0;

   @include menu-padding();

   @include menu-margin();

   margin-top: 0;

   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}

