@import '../colors';

@import 'constants';
@import 'menu-mixins';

div.main-menu
{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;

   height: $MAIN-MENU-HEIGHT;

   @include menu-background-color();


   @include menu-border();
   border-top: none;
   border-top-left-radius: 0;
   border-top-right-radius: 0;

   @include menu-padding();

   @include menu-margin();

   margin-top: 0;
}

div.main-menu button
{
   width: 42px;
   height: 42px;
   background-size: 97%;
   background-repeat: no-repeat;
   background-position: center;
}

div.main-menu button.main-menu
{
   background-size: 86%;
   background-image: url(/asset/svg/to-favicon.svg);
}

div.main-menu button.parameters
{
   background-image: url(/asset/svg/damage_type/parameters.svg);
}
