@import 'constants';
@import 'menu-mixins';

.message-board
{
   position: absolute;
   bottom: 0;
   left: $LEFT-MENU-WIDTH;
   right: 0;

   height: $MESSAGE-BOARD-HEIGHT;

   @include menu-background-color();

   @include menu-border();
   border-bottom: none;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;

   @include menu-padding();

   @include menu-margin();
   margin-bottom: 0;

   display: flex;
   flex-flow: row;
   justify-content: space-between;

   overflow-y: auto;
}

@import 'message-board/error';
@import 'message-board/help';
