@import '../shared/colors';

@import '../shared/battle-view/constants';
@import '../shared/battle-view/menu-mixins';

@import 'constants';

.controlled
{
   @include menu-panel();

   right: 0;
   top: $BELOW-MAIN-MENU;
   bottom: $ABOVE-MESSAGE-BOARD;

   width: $CONTROLLED-MENU-WIDTH;

   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   border-right: none;

   display: flex;
   flex-flow: column;
   justify-content: space-between;
}


.roster-editor-character-attributes .omnimod-negative-value,
.roster-editor-invalid-glyph
{
   background-color: $RED-2;
   border: solid 1px $RED-0;
}

.roster-editor-atts > *
{
   justify-items: space-evenly;
}
.roster-editor-invalid-character > .info-card-name,
.roster-editor-invalid-character > .character-card-name,
.roster-editor-glyph-board-problem > .character-card-glyph-board-name
{
   background-color: $RED-2;
}
