@import '../shared/battleview/constants';

$TOOLBOX-MENU-WIDTH: 15em;
$SUB-MENU-WIDTH: 20em;

$NEXT-TO-TOOLBOX-MENU: $TOOLBOX-MENU-WIDTH + $MENU-EXTRA;
$NEXT-TO-SUB-MENU: $SUB-MENU-WIDTH + $MENU-EXTRA;
