@import '../shared/battleview/constants';
@import '../shared/battleview/menu-mixins';

@import 'constants';

.map-container-centerer
{
   position: absolute;

   top: $BELOW-MAIN-MENU;
   left: $NEXT-TO-TOOLBOX-MENU;
   right: $NEXT-TO-SUB-MENU;
   bottom: $ABOVE-MESSAGE-BOARD;

   display: flex;
}

.map-container
{
   display: inline-block;
   max-height: 100%;
   max-width: 100%;

   overflow: scroll;

   margin: auto;
   resize: both;

   @include menu-border();

   @include menu-background-color();
}

.map-actual
{
   display: inline-block;
   transform-origin: top left;

   /*** Otherwise, it won't display correctly without 'transform: scale' ***/
   position: relative;
}

.map-tiled, .map-tiled *
{
   height: 32px;
   width: 32px;
}

.map-tile-icon, .map-tile-icon *
{
   z-index: 0;
   position: absolute;
   background-size: 400%;
}

.map-tile-selected
{
   border: 1px dashed white;
}

.map-tile-square-corner
{
   animation-name: blinking;
   animation-duration: 1s;
   animation-iteration-count: infinite;
}

.map-tile, .map-tile * {background-size: 400%;}
.map-tile * {position: absolute;}

@keyframes blinking {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@import 'map/variant.scss';
