@import '../shared/battleview/constants';
@import '../shared/battleview/menu-mixins';

@import 'constants';

.map-toolbox
{
   left: 0;
   top: $BELOW-MAIN-MENU;
   bottom: $ABOVE-MESSAGE-BOARD;

   width: $TOOLBOX-MENU-WIDTH;

   @include menu-panel();

   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   border-left: none;

   display: flex;
   flex-flow: column;
   justify-content: space-between;
}

.map-toolbox-actions
{
   display: flex;
   flex-flow: row wrap;

   align-items: center;
   justify-content: center;
}

