@import '../../shared/colors';
@import '../../shared/shadows';

.timeline-element
{
   margin: 0.5em 0.5em 0 0.5em;
   text-align: center;

   border-radius: 5px;
   border: 1px solid $BROWN-1;
   border-bottom-width: 2px;
   padding: 0.5em;
}

.timeline-element .character-portrait
{
   display: inline-block;
   vertical-align: middle;
   width: 36px;
   height: 36px;

   border-radius: 5px;

   @include box-shadow(1px, $BROWN-0, 1);
}

.timeline-element .character-portrait + *
{
   margin-left: 1em;
}

.tabmenu-timeline-controls button
{
   width: 32px;
   height: 32px;
   background-size: 100%;
   background-position: center;
}

.tabmenu-timeline-tab
{
   text-align: center;
}

.tabmenu-timeline-controls button.pause
{
   background-image: url(/asset/svg/damage_type/pause.svg);
}

.tabmenu-timeline-controls button.play_forward
{
   background-image: url(/asset/svg/damage_type/forwardplay.svg);
}

.tabmenu-timeline-controls button.play_backward
{
   background-image: url(/asset/svg/damage_type/backwardplay.svg);
}

.tabmenu-timeline-controls button.skip_backward
{
   background-image: url(/asset/svg/damage_type/backwardend.svg);
}

.tabmenu-timeline-controls button.skip_forward
{
   background-image: url(/asset/svg/damage_type/forwardend.svg);
}
