.character-icon
{
   border-radius: 5px;
   height: 38px;
   margin-top: -6px;
}

.character-icon *
{
   position: absolute;
   left: 0;
   top: 0;
   background-size: 100% 100%;
   width: inherit;
   height: inherit;
}

.character-icon-enabled
{
   animation-name: pulsating;
   animation-duration: 1.5s;
   animation-iteration-count: infinite;
   transform-origin: center;
}

.character-icon-banner { z-index: 2; }
.character-icon-head { z-index: 1; }
.character-icon-body { z-index: 0; }

.character-ally
{
}

.character-enemy
{
   transform: scale(-1, 1);
}

.character-ally.character-icon-disabled
{
   filter: contrast(35%);
}

.character-targeted
{
   background-color: rgba(255,0,0,0.7);
   animation-name: red-alarm-bg;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}

.character-selected
{
   animation-name: strongly-pulsating;
   animation-duration: 1.5s;
   animation-iteration-count: infinite;
}

