.character-icon
{
   border-radius: 5px;
   height: 38px;
   margin-top: -6px;
}

.character-icon *
{
   position: absolute;
   left: 0;
   top: 0;
   background-size: 100% 100%;
   width: inherit;
   height: inherit;
}

.character-icon.display-effect-enabled,
.character-icon-enabled
{
   animation-name: pulsating;
   animation-duration: 1.5s;
   animation-iteration-count: infinite;
   transform-origin: center;
}

.character-icon-banner { z-index: 2; }
.character-icon-head { z-index: 1; }
.character-icon-body { z-index: 0; }

.character-icon.display-effect-ally,
.character-ally
{
}

.character-icon.display-effect-enemy,
.character-enemy
{
   transform: scale(-1, 1);
}

.character-icon.display-effect-ally.character-icon-effect-disabled,
.character-ally.character-icon-disabled
{
   filter: contrast(35%);
}

.character-icon.display-effect-target,
.character-targeted
{
   background-color: rgba(255,0,0,0.7);
   animation-name: red-alarm-bg;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}

.character-icon.display-effect-active,
.character-selected
{
   animation-name: strongly-pulsating;
   animation-duration: 1.5s;
   animation-iteration-count: infinite;
}

.display-effect-team-0 .character-icon-body{background-image: url(/asset/svg/icon/body_team_0.svg);}
.display-effect-team-1 .character-icon-body{background-image: url(/asset/svg/icon/body_team_1.svg);}
.display-effect-team-2 .character-icon-body{background-image: url(/asset/svg/icon/body_team_2.svg);}
.display-effect-team-3 .character-icon-body{background-image: url(/asset/svg/icon/body_team_3.svg);}
.display-effect-team-4 .character-icon-body{background-image: url(/asset/svg/icon/body_team_4.svg);}
.display-effect-team-5 .character-icon-body{background-image: url(/asset/svg/icon/body_team_5.svg);}
.display-effect-team-6 .character-icon-body{background-image: url(/asset/svg/icon/body_team_6.svg);}
.display-effect-team-7 .character-icon-body{background-image: url(/asset/svg/icon/body_team_7.svg);}
