.marker-icon.navigator-non-interactive
{
   box-sizing: border-box;
   width: 12px;
   height: 12px;
   background-size: 100%;
   margin: 10px;
}

.marker-icon.navigator-interactive
{
   box-sizing: border-box;
   width: 24px;
   /*min-width: 24px;
   max-width: 24px; */
   margin: 4px 0 0 4px;
   height: 24px;
   border-radius: 4px;
   border: none;
   box-shadow:
      1px 0px 2px #333,
      -1px 0px 2px #333,
      0px 1px 2px #333,
      0px -1px 2px #333;
}

.can-go-to-can-defend-marker.navigator-interactive
{
   background-color: #FFF;
   opacity: 0.3;
   transition: opacity 0.3s ease-out;
}

.can-go-to-cant-defend-marker.navigator-interactive
{
   background:
      repeating-linear-gradient(
        -55deg,
        rgb(255,255,255),
        rgb(255,255,255) 3px,
        rgba(0,0,0,0) 3px,
        rgba(0,0,0,0) 7px
      );
   opacity: 0.3;
   transition: opacity 0.3s ease-out;
}

.can-go-to-can-defend-marker.navigator-interactive:hover,
.can-go-to-cant-defend-marker.navigator-interactive:hover
{
   opacity: 0.9;
}

.can-attack-can-defend-marker.navigator-interactive
{
   background-color: #000;
   opacity: 0.7;
   width: 28px;
   /*min-width: 28px;
   max-width: 28px;*/
   height: 28px;
   margin: 2px 0 0 2px;
   border-radius: 0;
}

.can-attack-cant-defend-marker.navigator-interactive
{
   background:
      repeating-linear-gradient(
        -55deg,
        rgba(255,255,255,0),
        rgba(255,255,255,0) 3px,
        rgb(0,0,0) 3px,
        rgb(0,0,0) 7px
      );
   width: 28px;
   /*min-width: 28px;
   max-width: 28px;*/
   opacity: 0.7;
   height: 28px;
   margin: 2px 0 0 2px;
   border-radius: 0;
}

.can-attack-can-defend-marker.navigator-non-interactive
{
   z-index: 5;
   background-image: url(/asset/svg/marker/blade.svg);
}

.can-attack-cant-defend-marker.navigator-non-interactive
{
   z-index: 5;
   background-image:
      url(/asset/svg/marker/blade.svg),
      url(/asset/svg/marker/brokenshield.svg);
}

.can-go-to-cant-defend-marker.navigator-non-interactive
{
   background-image:
      url(/asset/svg/marker/pawprint.svg),
      url(/asset/svg/marker/brokenshield.svg);
}

.can-attack-cant-defend-marker.navigator-non-interactive,
.can-go-to-cant-defend-marker.navigator-non-interactive
{
   width: 24px;
   height: 24px;
   background-position: top left, bottom right;
   background-size: 50%, 50%;
   background-repeat: no-repeat, no-repeat;
   margin: 2px;
}

.can-go-to-can-defend-marker.navigator-non-interactive
{
   background-image: url(/asset/svg/marker/pawprint.svg);
}

.can-attack-can-defend-marker.navigator-non-interactive,
.can-attack-cant-defend-marker.navigator-non-interactive
{
   z-index: 5;
}

.can-go-to-can-defend-marker,
.can-go-to-cant-defend-marker
{
   z-index: 3;
}

.cant-defend-marker
{
   background:
      repeating-linear-gradient(
        -55deg,
        rgba(255,255,255,0.3),
        rgba(255,255,255,0.3) 3px,
        rgba(0,0,0,0.3) 3px,
        rgba(0,0,0,0.3) 7px
      );
}

