.path-icon
{
   background-image: url("/asset/svg/arrows.svg");
   background-size: 96px 32px;
}

.path-icon-UR,
.path-icon-LD,
.path-icon-RD,
.path-icon-UL,
.path-icon-LU,
.path-icon-DR,
.path-icon-DL,
.path-icon-RU
{
   /*** Default is -^ ***/
   background-position: 64px 0;
}
/*** DL/RU ***/

.path-icon-LU,
.path-icon-DR
{
   transform: rotate(90deg);
}

.path-icon-RD,
.path-icon-UL
{
   /***  ***/
   transform: scale(1, -1);
}

.path-icon-UR,
.path-icon-LD
{
   /*** <| ***/
   transform: rotate(180deg);
}

.path-icon-RR,
.path-icon-LR,
.path-icon-RL,
.path-icon-LL
{
   background-position: 0 0;
}

.path-icon-markN,
.path-icon-NU,
.path-icon-ND,
.path-icon-NL,
.path-icon-NR
{
   display: none;
}

.path-icon-UU,
.path-icon-UD,
.path-icon-DU,
.path-icon-DD
{
   background-position: 0 0;
   transform: rotate(90deg);
}

.path-icon-markR,
.path-icon-markL,
.path-icon-markU,
.path-icon-markD
{
   background-position: 32px 0;
}

.path-icon-markL
{
   transform: rotate(180deg);
}

.path-icon-markD
{
   transform: rotate(90deg);
}

.path-icon-markU
{
   transform: rotate(-90deg);
}
