
.battle-tile-variant-0  {background-position: 0    0;}
.battle-tile-variant-1  {background-position: 100% 0;}
.battle-tile-variant-2  {background-position: 200% 0;}
.battle-tile-variant-3  {background-position: 300% 0;}

.battle-tile-variant-4  {background-position: 0    100%;}
.battle-tile-variant-5  {background-position: 100% 100%;}
.battle-tile-variant-6  {background-position: 200% 100%;}
.battle-tile-variant-7  {background-position: 300% 100%;}

.battle-tile-variant-8  {background-position: 0    200%;}
.battle-tile-variant-9  {background-position: 100% 200%;}
.battle-tile-variant-10 {background-position: 200% 200%;}
.battle-tile-variant-11 {background-position: 300% 200%;}

.battle-tile-variant-12 {background-position: 0    300%;}
.battle-tile-variant-13 {background-position: 100% 300%;}
.battle-tile-variant-14 {background-position: 200% 300%;}
.battle-tile-variant-15 {background-position: 300% 300%;}

.battle-tile-icon-bg { z-index: 0; }
.battle-tile-icon-dt { z-index: 9; }

.battle-tile-icon-f-0 { z-index: 1; }
.battle-tile-icon-f-1 { z-index: 2; }
.battle-tile-icon-f-2 { z-index: 3; }
.battle-tile-icon-f-3 { z-index: 4; }
.battle-tile-icon-f-4 { z-index: 5; }
.battle-tile-icon-f-5 { z-index: 6; }
.battle-tile-icon-f-6 { z-index: 7; }
.battle-tile-icon-f-7 { z-index: 8; }

