@import 'colors';
@import 'shadows';

body > header,
.fullscreen-module > header
{
   display: flex;
   flex-direction: row;
}

body > header nav,
.fullscreen-module > header nav
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   flex: 1;
   align-items: center;
   justify-content: space-around;
}

body > header nav a,
.fullscreen-module > header nav a
{
   color: $GOLD-0;
   font-size: 1.5em;
   font-variant: small-caps;
   font-weight: bold;
   text-decoration: none;
   margin: 0.1em;
   padding: 0.2em 0.5em 0.2em 0.5em;
   border-radius: 5px;
   background-color: rgba(0,0,0,0);
   transition: background-color ease-out 0.5s;
}

.main-server-logo
{
   z-index: 1;
   margin: 0.5em;
}

.main-server-version
{
   z-index: 0;
   position: absolute;
   font-size: 0.7em;
   top: 0;
   right: 0;
}

body > header nav a:hover,
.fullscreen-module > header nav a:hover,
{
   background-color: rgba(0,0,0,0.5);
}
