.omnimod-icon
{
   display: inline-block;
   min-height: 1.5em;
   min-width: 1.5em;
   background-size: 1.5em;
   background-repeat: no-repeat;
   vertical-align: middle;
   background-position: center;
}

.omnimod-icon-dmg,
.omnimod-icon-dmgm
{
   background-image: url(/asset/svg/damage_type/damage.svg);
}

.omnimod-icon-range
{
   background-image: url(/asset/svg/damage_type/accuracy.svg);
}

.omnimod-icon-slh
{
   background-image: url(/asset/svg/damage_type/slash.svg);
}

.omnimod-icon-bse
{
   background-image: url(/asset/svg/damage_type/base.svg);
}

.omnimod-icon-blu
{
   background-image: url(/asset/svg/damage_type/impact.svg);
}

.omnimod-icon-pie
{
   background-image: url(/asset/svg/damage_type/piercing.svg);
}

.omnimod-defense-mods .omnimod-icon-slh
{
   background-image:
      url(/asset/svg/damage_type/slash.svg),
      url(/asset/svg/damage_type/shield.svg)
   ;
   background-size: 1em, 1.5em;
}

.omnimod-defense-mods .omnimod-icon-blu
{
   background-image:
      url(/asset/svg/damage_type/impact.svg),
      url(/asset/svg/damage_type/shield.svg)
   ;
   background-size: 1em, 1.5em;
}

.omnimod-defense-mods .omnimod-icon-pie
{
   background-image:
      url(/asset/svg/damage_type/piercing.svg),
      url(/asset/svg/damage_type/shield.svg)
   ;
   background-size: 1em, 1.5em;
}

.omnimod-defense-mods .omnimod-icon-bse
{
   background-image:
      url(/asset/svg/damage_type/base.svg),
      url(/asset/svg/damage_type/shield.svg)
   ;
   background-size: 1em, 1.5em;
}

.omnimod-icon-dodg
{
   background-image: url(/asset/svg/damage_type/dodge.svg);
}

.omnimod-icon-pary
{
   background-image: url(/asset/svg/damage_type/parry.svg);
}

.omnimod-icon-accu
{
   background-image: url(/asset/svg/damage_type/accuracy2.svg);
}

.omnimod-icon-dhit
{
   background-image: url(/asset/svg/damage_type/2hits.svg);
}

.omnimod-icon-crit
{
   background-image: url(/asset/svg/damage_type/critical.svg);
}

.omnimod-icon-con
{
   background-image: url(/asset/svg/damage_type/constitution.svg);
}

.omnimod-icon-dex
{
   background-image: url(/asset/svg/damage_type/dexterity.svg);
}

.omnimod-icon-int
{
   background-image: url(/asset/svg/damage_type/intelligence.svg);
}

.omnimod-icon-min
{
   background-image: url(/asset/svg/damage_type/mind.svg);
}

.omnimod-icon-spe
{
   background-image: url(/asset/svg/damage_type/speed.svg);
}

.omnimod-icon-str
{
   background-image: url(/asset/svg/damage_type/strength.svg);
}

.omnimod-icon-mheal
{
   background-image: url(/asset/svg/damage_type/mhealth.svg);
}

.omnimod-icon-mpts
{
   background-image: url(/asset/svg/damage_type/mmovpts.svg);
}

.omnimod-icon-negative
{
   filter: hue-rotate(310deg);
}

.omnimod-icon-positive
{
   filter: hue-rotate(30deg);
}

.omnimod-attack-mods,
.omnimod-defense-mods,
.omnimod-attribute-mods,
.omnimod-statistics-mods,
.omnimod-attack-mods > *,
.omnimod-defense-mods > *,
.omnimod-attribute-mods > *,
.omnimod-statistics-mods >*
{
   display: flex;
   flex-wrap: wrap;
}
