.omnimod-icon
{
   display: inline-block;
   min-height: 1.5em;
   min-width: 1.5em;
   background-size: 1.5em;
   background-repeat: no-repeat;
   vertical-align: middle;
   background-position: center;
}

.omnimod-icon-dmg
{
   background-image: url(/asset/svg/damage_type/damage.svg);
}
.omnimod-icon-range
{
   background-image: url(/asset/svg/damage_type/accuracy.svg);
}

.omnimod-icon-slh
{
   background-image: url(/asset/svg/damage_type/slash.svg);
}

.omnimod-icon-blu
{
   background-image: url(/asset/svg/damage_type/impact.svg);
}

.omnimod-icon-pie
{
   background-image: url(/asset/svg/damage_type/piercing.svg);
}

.omnimod-icon-dodg
{
   background-image: url(/asset/svg/damage_type/dodge.svg);
}

.omnimod-icon-pary
{
   background-image: url(/asset/svg/damage_type/parry.svg);
}

.omnimod-icon-accu
{
   background-image: url(/asset/svg/damage_type/accuracy2.svg);
}

.omnimod-icon-dhit
{
   background-image: url(/asset/svg/damage_type/2hits.svg);
}

.omnimod-icon-crit
{
   background-image: url(/asset/svg/damage_type/critical.svg);
}

.omnimod-icon-con
{
   background-image: url(/asset/svg/damage_type/constitution.svg);
}

.omnimod-icon-dex
{
   background-image: url(/asset/svg/damage_type/dexterity.svg);
}

.omnimod-icon-int
{
   background-image: url(/asset/svg/damage_type/intelligence.svg);
}

.omnimod-icon-min
{
   background-image: url(/asset/svg/damage_type/mind.svg);
}

.omnimod-icon-spe
{
   background-image: url(/asset/svg/damage_type/speed.svg);
}

.omnimod-icon-str
{
   background-image: url(/asset/svg/damage_type/strength.svg);
}
