@import 'colors';

.omnimod-icon
{
   display: inline-block;
   min-height: 1.5em;
   min-width: 1.5em;
   background-size: 1.5em;
   background-repeat: no-repeat;
   vertical-align: middle;
   background-position: center;
}

.omnimod-attack-mods .omnimod-icon,
.omnimod-defense-mods .omnimod-icon,
.omnimod-attribute-mods .omnimod-icon
{
   background-size: 2em;
   background-position: 3.1em;
}

.omnimod-value
{
   display: inline-block;
}

.omnimod-icon-dmg,
.omnimod-icon-dmgm
{
   background-image: url(/asset/svg/damage_type/damage.svg);
}

.omnimod-icon-range
{
   background-image: url(/asset/svg/damage_type/accuracy.svg);
}

.omnimod-icon-slh
{
   background-image: url(/asset/svg/damage_type/slash.svg);
}

.omnimod-icon-bse
{
   background-image: url(/asset/svg/damage_type/base.svg);
}

.omnimod-icon-blu
{
   background-image: url(/asset/svg/damage_type/impact.svg);
}

.omnimod-icon-pie
{
   background-image: url(/asset/svg/damage_type/piercing.svg);
}

.omnimod-defense-mods
{
   background-size: 1.5em, 2em;
   background-position: 3.4em, 3.1em;
}

.omnimod-defense-mods .omnimod-icon-slh
{
   background-image:
      url(/asset/svg/damage_type/slash.svg),
      url(/asset/svg/damage_type/shield.svg)
   ;
}

.omnimod-defense-mods .omnimod-icon-blu
{
   background-image:
      url(/asset/svg/damage_type/impact.svg),
      url(/asset/svg/damage_type/shield.svg)
   ;
}

.omnimod-defense-mods .omnimod-icon-pie
{
   background-image:
      url(/asset/svg/damage_type/piercing.svg),
      url(/asset/svg/damage_type/shield.svg)
   ;
}

.omnimod-icon-dodg
{
   background-image: url(/asset/svg/damage_type/dodge.svg);
}

.omnimod-icon-pary
{
   background-image: url(/asset/svg/damage_type/parry.svg);
}

.omnimod-icon-accu
{
   background-image: url(/asset/svg/damage_type/accuracy2.svg);
}

.omnimod-icon-dhit
{
   background-image: url(/asset/svg/damage_type/2hits.svg);
}

.omnimod-icon-crit
{
   background-image: url(/asset/svg/damage_type/critical.svg);
}

.omnimod-icon-con
{
   background-image: url(/asset/svg/damage_type/constitution.svg);
}

.omnimod-icon-dex
{
   background-image: url(/asset/svg/damage_type/dexterity.svg);
}

.omnimod-icon-int
{
   background-image: url(/asset/svg/damage_type/intelligence.svg);
}

.omnimod-icon-min
{
   background-image: url(/asset/svg/damage_type/mind.svg);
}

.omnimod-icon-spe
{
   background-image: url(/asset/svg/damage_type/speed.svg);
}

.omnimod-icon-str
{
   background-image: url(/asset/svg/damage_type/strength.svg);
}

.omnimod-icon-mheal
{
   background-image: url(/asset/svg/damage_type/mhealth.svg);
}

.omnimod-icon-mpts
{
   background-image: url(/asset/svg/damage_type/mmovpts.svg);
}

.omnimod-icon-negative
{
   filter: hue-rotate(310deg);
}

.omnimod-icon-positive
{
   filter: hue-rotate(30deg);
}

.omnimod-attack-mods,
.omnimod-defense-mods,
.omnimod-attribute-mods
{
   display: block;
}

.omnimod-attack-mods > *,
.omnimod-defense-mods > *,
.omnimod-attribute-mods > *
{
   display: inline-block;
   background-color: $GLAUQUE-3;
   color: $GLAUQUE-0;
   line-height: 1.5em;
   border-radius: 6px;
   border: solid 1px $GLAUQUE-2;
   text-shadow: none;
   padding: 2px;
   padding-right: 1.7em;
   text-align: center;
   margin: 1px;
   width: 5em;
}
