.message-board-help
{
   display: block;
}

.message-board-help h1
{
   margin: 0;
   margin-bottom: 0.3em;
   font-size: 1.5em;
   text-align: center;
}

.message-board-help-figure
{
   width: 1.5em;
   height: 1.5em;
   background-size: 100%;
   display: inline-block;
   vertical-align: middle;
}

.help-guide-icon
{
   margin-right: 0.5em;
   width: 1.5em;
   height: 1.5em;
   background-image: url("/asset/svg/help-icon.svg");
   background-size: 100%;
   display: inline-block;
   vertical-align: middle;
}

