@import "../../shared/colors";

.character-portrait
{
   background-size: 100% 100%;
   width: 100px;
   height: 100px;
   overflow: hidden;
   cursor: pointer;
}

.character-portrait *
{
   box-sizing: border-box;
   background-size: 100% 100%;
   width: inherit;
   height: inherit;
}


.character-portrait-battle-index
{
   position: relative;
   z-index: 2;
   top: -200%;
}

.character-portrait-body
{
   z-index: 1;
}

.character-portrait-armor
{
   position: relative;
   z-index: 1;
   top: -100%;
   background-size: 200% 100%;
}

/*
 * no space between the class names because the effect is directly applied to
 * the div with the "character-portrait" class.
 */
.character-portrait.display-effect-team-0
{
   background-color: rgba(57, 106, 177, 0.3);
}
.character-portrait.display-effect-team-1
{
   background-color: rgba(204, 37, 41, 0.3);
}
.character-portrait.display-effect-team-2
{
   background-color: rgba(62, 150, 81, 0.3);
}
.character-portrait.display-effect-team-3
{
   background-color: rgba(218, 124, 48, 0.3);
}
.character-portrait.display-effect-team-4
{
   background-color: rgba(83, 81, 84, 0.3);
}
.character-portrait.display-effect-team-5
{
   background-color: rgba(107, 76, 154, 0.3);
}
.character-portrait.display-effect-team-6
{
   background-color: rgba(127, 167, 169, 0.3);
}
.character-portrait.display-effect-team-7
{
   background-color: rgba(231, 167, 169, 0.3);
}

.character-card-statuses
{
   position: absolute;
   left: 100px;
   top: calc(2*(1.5em + 0.5em) + 0.7em);
   margin-left: 0.5em;
   width: calc(100% - 100px - 0.5em);
   display: flex;
}

.character-card-status
{
   height: 1.5em;
   width: 1.5em;
   background-size: 100%;
}

.character-card-target-status
{
   background-image: url("/asset/svg/status/target.svg");
}

.character-card-commander-status
{
   background-image: url("/asset/svg/status/commander.svg");
}

.character-card-health > .gauge-bar
{
   background-color: $RED-3;
}

.character-card-movement > .gauge-bar
{
   background-color: $BLUE-3;
}

.character-card-weapon,
.character-card-weapon-summary
{
   display: grid;

   border-radius: 5px;

   padding: 0.3em;
   margin-top: 0.3em;
}

.character-card-weapon
{
   background-color: #6C5D53;
}

.character-card-weapon-summary
{
   background-color: $BROWN-1;
}

.character-card-armor
{
   display: grid;
   border-radius: 5px;
   background-color: $BROWN-2;

   padding: 0.3em;
   margin-top: 0.3em;
}

.character-card-armor-atts
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.character-card-atts
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   border-radius: 5px;
   background-color: $BROWN-2;

   padding: 0.3em;
   margin-top: 0.3em;
}

.asset-armor-variation-bird
{
   background-size: 200% 100%;
   background-position: 100% 0;
}

.character-card-mod
{
   display: inline-block;
}

.info-card-mod
{
   display: inline-block;
}

.character-card-atts,
.character-card-atts > *
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
